<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap_themes %}
  <head>
  <title>{{ ts_console_settings.SHORT_TITLE }}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{ ts_console_settings.TITLE }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- React.js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-sham.min.js"></script>
  <script src="{% static 'vendor/react/react.min.js' %}"></script>
  <script src="{% static 'vendor/react/react-dom.min.js' %}"></script>
  <script src="{% static 'vendor/react/babel.min.js' %}"></script>
  <script type="text/babel" src="{% static 'vendor/mixin.js' %}"></script>
  <!-- <script src="https://unpkg.com/react@latest/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> -->
  <script type="text/babel" src="{% static 'js/ts-api.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-utils.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-machine-panel.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-setting-panel.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-profile-panel.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-capture-panel.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-capture-classify-tab.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-capture-general-tab.js' %}"></script>
  <script type="text/babel" src="{% static 'js/ts-ui.js' %}"></script>

  <!-- G2 -->
  <script src="https://a.alipayobjects.com/g/datavis/g2/2.2.7/g2.js"></script>
  <script type="text/babel" src="{% static 'vendor/react-g2.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/ts.css' %}" />
  <link rel="stylesheet" href="{% static 'css/modal-box.css' %}" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'static_jquery/js/jquery.min.js' %}"></script>

  <!-- Bootstrap CSS -->
  {% bootstrap_styles theme='default' type='min.css' %}
  <!-- Bootstrap JS -->
  {% bootstrap_script use_min=True %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
      <div class="container">
        <div class="starter-template">
          <h1>{{ ts_console_settings.TITLE }}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="modalOverlay" class="mb-overlay"></div>
      <div id="modalContainer" class="mb-container"></div>
      <div id="modalContent" class="mb-content container"></div>

      <!-- <div id="modalOverlay" class="mb-overlay" style="display:block"></div>
      <div id="modalContainer" class="mb-container" style="display:block">
        <div id="modalContent" class="mb-content container" style="display:block">
          <div>
            <button id="rightButton" type="button" class="btn btn-primary pull-right">
              Start
            </button>        
            <button id="leftButton" type="button" class="btn btn-danger pull-right">
              Cancel
            </button>
            <div class="page-header">
              <h1><small>CapturePanel ["123"]</small></h1>
            </div>

            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active">
                <a href="#traffic-general" aria-controls="traffic-general" role="tab" data-toggle="tab">
                  General
                </a>
              </li>
              <li role="presentation">
                <a href="#traffic-classify" aria-controls="traffic-classify" role="tab" data-toggle="tab">
                  Classify
                </a>
              </li>
            </ul>
            
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="traffic-general">
                <img class="loading-img" src="{% static 'image/loading.gif' %}"/>
              </div>
              <div role="tabpanel" class="tab-pane" id="traffic-classify">Traffic Classify</div>
            </div>

          </div>
        </div>
      </div> -->
  </body>
</html>