.example-container {
  margin-top:10px;
  margin-left:10px;
}

.arrow-container {
  display:block;
  height:18px;
}

.arrow {
    border-color: #555;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    float:left;
    height: 5px;
    width: 5px;
    margin-top:5px;
}

.arrow-link {
  float:left;
  background-color:black;
  width:100px;
  height:1px;
  margin-top:8px;
  display: inline-block;
}

.arrow-text {
  float:left;
  display: inline-block;
  font-size:13px;
  margin-left:3px;
  margin-right:3px;
}

.left {
    border-width: 1px 0 0 1px;    
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

.right {
    border-width: 1px 1px 0 0;    
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

