#shaping_buttons button {
    margin: 10px;
    padding: 5px;
}

/*
We're not using anchors, so make sure users know they can click on panel headers
*/
.panel-heading {
    cursor: pointer;
}

.error-timer {
    text-align: right;
}

.propstr code{
  margin-left: 5px;
}

.firstbtn {
  margin-right: 10px;
}

#collapseMachineSettings kbd.online {
  background-color: green;
}

#collapseMachineSettings kbd.offline {
  background-color: gray;
}

#collapseMachineSettings button.rightbtn {
  margin-left:10px;
}

#profileModal .modal-body ol {
  margin-top: 10px;
}

li.profile-modal-li kbd {
  background-color: green;
}

li.profile-modal-li span {
  color: red;
  margin-left: 20px;
}

.filter-box {
  margin-bottom: 10px;
}

#notifications {
  position: absolute;
  top:10px;
  bottom: 0;
  right: 5px;
  width: 400px;
  opacity: 0.9;
  pointer-events: none;
  z-index: 1010;
}

#notifications i{
  float:right;
}

div.notification-element-show {
  animation:opacity_ani 1s 1;
  -webkit-animation:opacity_ani 1s 1; /*Safari and Chrome*/
}

@-webkit-keyframes opacity_ani {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
